QTabBar {
  spacing: 16px;
  background-color: none;
}

QTabWidget::tab-bar {
      alignment: left;
}

QTabBar::tab {
  color: #747270;
  background-color: none;
  padding: 5px 12px;
  padding-bottom: 2px;
  border-bottom: 3.5px solid transparent;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 5px;
  min-width: 6ex;
}

QTabBar::tab:first {
  margin-left: 0px;
}

QTabBar::tab:hover {
  background: #e6e6e6;
}

QTabBar::tab:!selected:hover {
  font-weight: bold;
}

QTabBar::tab:selected {
  color:#545353;
  font-weight: 500;
/*  border-bottom: 3.5px solid #2b579a;*/
  border-image: url(:/Style/border-bottom.svg);
}

QTabBar::tab:selected:hover {
/*border-image: url(:/style/tabs/border-bottom-hover.svg);*/
}

QTabWidget::pane {
  padding:0px 5px;
  border: none;
  background-color: none;
}

QTabWidget {
  background-color: none;
}

